.solicitations-container{
    display: grid;
    background-color: #4C0305;
    height: 100vh;
    background-size: inherit; 
    background-position: center;  
    position: relative;
    /* overflow: hidden; */
}

.button-add img{
    width: 30px;
    height: 30px;
    background-color: #6d0909;
}

.button-add{
    background-color: #6d0909;
}

.square-brown{
    display: grid;
    background-color: #6d0909;
    width: 90%;
    height: 500px;
    border-radius: 15px;
    justify-self: center;
    align-self: end;
    margin-bottom: 20px;
    margin-top: 10px;
}

.top-buttons{
    display: inline-grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
    'buttonMenuSolicitation' 'buttonStatusSolicitation';
    margin-top: 10px;
    margin-left: 100px;
}

.logo-solicitations {
    width: 130px;
    height: 120px;
    border-radius: 15px;
    margin: 10px;
    justify-self: center;
}

.button-status-solicitations{
   width: 200px;
   height: 40px;
   padding: 5px;
   background-color: #BA4B3A;
   border-radius: 40px;
   margin-left: -300px;
   color: #ffffff;
   margin-top: -100px;
}

.buttonMenuSolicitations{
   width: 200px;
   height: 40px;
   padding: 5px;
   background-color: #BA4B3A;
   border-radius: 40px;
   color: #ffffff;
   margin-top: -100px;
}
 
.modal{
    display: grid;
    background-color: #6d0909;
    width: 95%;
    height: 95%;
    border-radius: 20px;
    margin: 25px auto;
}

.closeButton{
    width: 40px;
    height: 40px;
    padding: 5px;
    justify-self: end;
    margin: 15px;
}

ul{
    color: white;
    list-style-type: none;
    font-size: 30px;
    margin-top: 10px;
    line-height: 40px;
    margin-left: 20px;
}

/* .bottom-buttons{
    display: inline-grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
    'button-cancel' 'button-confirm';
    grid-gap: 150px;
    margin-left: 200px;
    margin-top: 360px;
} */

.button-cancel, .button-confirm, .button-abstract-solicitation{
    width: 170px;
    height: 30px;
    padding: 2px;
    background-color: #BA4B3A;
    border-radius: 40px;
}

.button-abstract-solicitation{
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    .square-brown{
        height: 600px;
    }
}

@media (max-width: 770px) {

    .square-brown{
        background-color: #6d0909;
        width: 90%;
        height: 800px;
        border-radius: 15px;
        justify-self: center;
        align-self: end;
        margin-bottom: 20px;
    }

    .button-status-solicitations{
        margin-left: -300px;
        margin-top: -20px;
     }
     
     .buttonMenuSolicitations{
        margin-top: -20px;
     }
     ul{
        color: white;
        list-style-type: none;
        font-size: 40px;
        margin-top: 20px;
        line-height: 50px;
        margin-left: 20px;
    }
}
@media (max-width: 520px) {

    ul{
        color: white;
        list-style-type: none;
        font-size: 25px;
        margin-top: 10px;
        line-height: 30px;
        margin-left: 20px;
    }

    .square-brown{
        background-color: #6d0909;
        width: 90%;
        height: 500px;
        border-radius: 15px;
        justify-self: center;
        align-self: end;
        margin-bottom: 20px;
        padding-top: 10px;
    }

    .button-solicitation{
        margin-top: -10px;
        justify-items: center;
    }

    .solicitations-container {
      background-size: contain;
    }

    .button-status-solicitations{
        width: 150px;
        padding: 5px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 20px;
     }
     
     .buttonMenuSolicitations{
        width: 150px;
        padding: 5px;
        margin-top: 10px;
        margin-left: 30px;
     }
     .top-buttons{
     margin-left: 0px;
    }
  } 
