.solicitations-container {
    display: grid;
    background-color: #4C0305;
    height: 100vh;
    background-size: inherit; 
    background-position: center;  
    position: relative;
}

.square-brown{
    background-color: #6d0909;
    width: 60%;
    height: 450px;
    border-radius: 15px;
    justify-self: center;
    align-self: end;
    margin-bottom: 20px;
    margin-top: 10px;
}

.button-logo {
    gap: 15%;
    width: 60%;
    display: inline-grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
    'logo-solicitations' 'button-solicitation';
    justify-items: center;
    align-items: center;
    margin-top: 15px;
}

.logo-solicitations {
    margin-left: 700px;
    width: 130px;
    height: 120px;
    border-radius: 15px;
}

.button-solicitation{
    justify-items: flex-end;
    position: absolute;
}

@media screen and (max-width: 1024px) {
    .button-logo {
      width: 90%; 
      grid-template-columns: auto; 
      grid-template-areas: 'logo-solicitations' 'button-solicitation';
      justify-content: center; 
      margin-top: 10px;
    }
  
    .logo-solicitations {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 10px;
    }
    
    .button-solicitation {
      margin-right: 20px;
      width: 150px;
      justify-items: center;
    }
  }

@media screen and (max-width: 768px) {
    .square-brown {
      height: 500px;
    }

    .button-logo {
    gap: 1px;
      width: 99%;
      grid-template-columns: auto; 
      grid-template-areas:
        'logo-solicitation '
        'button-solicitation';
      justify-content: center; 
      margin-top: 10px; 
    }
  
    .logo-solicitations {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 10px;
    }
    .button-solicitation{
        justify-items:center;
        
        margin-right: 500px;
    }
  }
  