.abstract-solicitation, .status-solicitations{
    font-family: 'lobster';
    font-size: 40px;   
    color: #FFFFFF;
    display: grid;
    place-items: center; 
    position: relative;
    margin-bottom: 200px;
}

.solicitations-container{
    display: grid;
    background-color: #4C0305;
    height: 100vh;
    background-size: inherit; 
    background-position: center;  
    position: relative;
    /* overflow: hidden; */
}

.square-brown{
    display: grid;
    background-color: #6d0909;
    width: 90%;
    height: 545px;
    border-radius: 15px;
    justify-self: center;
    align-self: end;
    margin-bottom: 15px;
    margin-top: -10px;
}

.top-buttons{
    display: inline-grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
    'buttonMenuSolicitation' 'buttonStatusSolicitation';
    margin-top: 10px;
    margin-left: 100px;
}

.logo-solicitations {
    width: 130px;
    height: 120px;
    border-radius: 15px;
    margin: 10px;
    justify-self: center;
}

.button-status-solicitations{
   width: 200px;
   height: 40px;
   padding: 5px;
   background-color: #BA4B3A;
   border-radius: 40px;
   margin-left: -300px;
   color: #ffffff;
   margin-top: -100px;
}

.buttonMenuSolicitations{
   width: 200px;
   height: 40px;
   padding: 5px;
   background-color: #BA4B3A;
   border-radius: 40px;
   color: #ffffff;
   margin-top: -100px;
}
 
.modal{
    display: grid;
    background-color: #6d0909;
    width: 95%;
    height: 95%;
    border-radius: 20px;
    margin: 25px auto;
}

.closeButton{
    width: 40px;
    height: 40px;
    padding: 5px;
    justify-self: end;
    margin: 15px;
}

input[type='text'] {
    font-family: 'lobster';
    font-size: 20px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    background: #BA4B3A;
    border: none;
    border-radius: 15px;
    width: 400px;
    height: 12px;
    margin-left: 20px;
    margin-top: 15px;
}

.solicitation-number {
    display: grid;
    background: #BA4B3A;    
    border-radius: 30px;
    width: 230px;
    height: 45px;
    margin-top: -45px;
    margin-left: 1100px;
}

ul {
    display: grid;
    color: white;
    list-style-type: none;
    font-size: 25px;
    margin-top: 5px;
    line-height: 40px;
    margin-left: 20px;
}

li {
    display: grid;
    grid-template-columns: 1fr auto auto auto; 
    align-items: center;
  }

.button-add img{
    width: 30px;
    height: 30px;
}

.button-add{
    width: 30px;
    height: 30px;
    background-color: #6d0909;
    display: block;
    margin-right: 30px;
}

.button-remove img{
    width: 30px;
    height: 30px;
    background-color: #6d0909;
}

.button-remove{
    width: 30px;
    height: 30px;
    background-color: #6d0909;
    display: block;
    margin-right: 100px;
}

/* .button-delete img{
    width: 30px;
    height: 30px;
    background-color: #6d0909;
}

.button-delete{
    width: 30px;
    height: 30px;
    background-color: #6d0909;
    display: block;
    margin-left: -500px;
} */

.quantity-product{
display: grid; 
width: 28px;
height: 30px;   
border-radius: 5px;
background-color:#BA4B3A;
font-size: 25px;
justify-content: center;
}

.button-cancel, .button-confirm, .button-abstract-solicitation{
    width: 170px;
    height: 40px;
    padding: 2px;
    background-color: #BA4B3A;
    border-radius: 40px;
}

.button-abstract-solicitation{
    justify-self: center;
    align-self: flex-end;
    margin-top: -10px;
}

@media (min-width: 1200px){
    .square-brown {
        margin-bottom: 600px;
    }
}

@media (max-width: 1024px) {
    .square-brown{
        height: 600px;
        margin-bottom: 550px;
    }
    input[type='text'] {
        width: 75%;
        margin-left: 10px;
        margin-top: 10px;
    }
    
      .solicitation-number {
        width: 30%;
        margin-left: 300px;
        margin-top: 10px;
    }
    .button-abstract-solicitation{
        margin-top: -5px;
    }
}

@media (max-width: 770px) {

    .square-brown{
        background-color: #6d0909;
        width: 90%;
        height: 750px;
        border-radius: 15px;
        justify-self: center;
        align-self: end;
        margin-bottom: 70px;
    }

    input[type='text'] {
        width: 70%;
        margin-left: 10px;
        margin-top: 10px;
      }
    
      .solicitation-number {
        width: 40%;
        margin-left: 200px;
        margin-top: 10px;
      }

    .button-status-solicitations{
        margin-left: -300px;
        margin-top: -20px;
     }
     
     .buttonMenuSolicitations{
        margin-top: -20px;
     }

     ul{
        color: white;
        list-style-type: none;
        font-size: 35px;
        margin-top: 20px;
        line-height: 50px;
        margin-left: 10px;
    }
    .button-add img{
        width: 40px;
        height: 40px;
    }

    .button-remove{
        margin-right: 25px;
    }
    
    .button-remove img{
        width: 40px;
        height: 40px;
        background-color: #6d0909;
    }
    
    .quantity-product{
    width: 38px;
    height: 35px;   
    font-size: 30px;
    }

    .button-abstract-solicitation{
    width: 270px;
    height: 50px;
    font-size: 30px;
    margin-top: 10px;
}
}

@media (max-width: 520px) {

    .square-brown{
        background-color: #6d0909;
        width: 90%;
        height: 500px;
        border-radius: 15px;
        justify-self: center;
        align-self: end;
        margin-bottom: 20px;
        padding-top: 10px;
    }

    input[type='text'] {
        width: 45%;
        margin-left: 5px;
        margin-top: -100px;
      }
    
      .solicitation-number {
        width: 75%;
        height: 65%;
        margin-left: 50px;
        margin-top: 10px;
      }

    ul{
        color: white;
        list-style-type: none;
        font-size: 15px;
        margin-top: 5px;
        line-height: 20px;
        margin-left: 1px;
    }
    .button-add img{
        width: 25px;
        height: 25px;
    }
    .button-add{
        margin-right: 25px;
    }

    .button-remove img{
        width: 25px;
        height: 25px;
    }

    .quantity-product{
        display: grid; 
        width: 20px;
        height: 20px;
        font-size: 20px;
    }

    .button-solicitation{
        margin-top: -10px;
        justify-items: center;
    }

    .solicitations-container {
      background-size: contain;
    }

    .button-status-solicitations{
        width: 150px;
        padding: 5px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 20px;
     }
     
     .buttonMenuSolicitations{
        width: 150px;
        padding: 5px;
        margin-top: 10px;
        margin-left: 30px;
     }
     .top-buttons{
     margin-left: 0px;
    }
    .button-abstract-solicitation{
        width: 170px;
        height: 30px;
        font-size: 20px;
    }
  } 